extends layout.pug

block content
  div(class="container-fluid")
    div(class="row")
      div(class="col")
        div(class="d-flex justify-content-center")
          h1(class="d-inline text-success text-center middle-big" id="clock") 12:00
    div(class="row")
      div(class="col")
        div(class="d-flex justify-content-center")
          div(class="d-inline text-info text-center medium" id="period") 1st
      div(class="col")
        div(class="d-flex justify-content-center")
          div(class="d-inline text-warning text-center medium" id="shot") 24
  div(class="container-fluid fixed-bottom mb-5")
    div(class="row mt-3")
      div(class="col")
        button(class="btn btn-ouline-danger w-100 p-2 rounded standard" onclick="endGame(); return false;") End game
      div(class="col")
        button(class="btn btn-outline-info w-100 p-2 rounded standard" onclick="confirmEndPeriod(); return false;") End period
    div(class="row mt-3")
      div(class="col")
        h3 Game clock
        div(class="btn-group")
          button(class="btn btn-outline-info rounded p-5")
            span(class="fas fa-step-backward fa-3x")
          button(class="btn btn-outline-info rounded p-5 ml-2")
            span(class="fas fa-step-forward fa-3x")
          button(class="btn btn-outline-info rounded p-5 ml-2")
            span(class="fas fa-redo fa-3x")
      div(class="col")
        h3 Shot clock
        div(class="btn-group float-right")
          button(class="btn btn-outline-info rounded p-5")
            span(class="fas fa-step-backward fa-3x")
          button(class="btn btn-outline-info rounded p-5 ml-2")
            span(class="fas fa-step-forward fa-3x")
          button(class="btn btn-outline-info rounded p-5 ml-2")
            span(class="fas fa-redo fa-3x")
    div(class="row mt-5")
      div(class="col")
        div(class="btn-group")
          button(class="btn btn-outline-success rounded p-5 standard" onclick="callTimeout('AWAY', 1); return false;") Cavaliers timeout (5)
          button(class="btn btn-outline-danger rounded ml-2 p-5 standard" onclick="callTimeout('AWAY', -1); return false;") Cancel
      div(class="col")
        div(class="btn-group float-right")
          button(class="btn btn-outline-success rounded p-5 standard" onclick="callTimeout('HOME', 1); return false;") Lakers timeout (5)
          button(class="btn btn-outline-danger rounded ml-2 p-5 standard" onclick="callTimeout('HOME', -1); return false;") Cancel
    div(class="row mt-5")
      div(class="col")
        button(class="btn btn-outline-info rounded text-uppercase p-5 w-100 standard" id="awayPos" onclick="setPossession('AWAY'); return false;") Red
      div(class="col")
        button(class="btn btn-outline-info rounded text-uppercase p-5 w-100 standard" id="awayPos" onclick="setPossession('HOME'); return false;") Blue
    div(class="row mt-5")
      div(class="col")
        center
          button(class="rounded p-5 w-100 btn btn-success" id="play" onclick="toggleClock(); return false;")
            span(class="fas fa-play fa-3x")
          button(class="rounded p-5 w-100 btn btn-danger" id="stop" onclick="toggleClock(); return false;")
            span(class="fas fa-stop fa-3x")
  script.
    subscribe();
    clockSocket();
