extends layout.pug

block content
  div(class="container-fluid")
    div(class="row")
      div(class="col")
        h1(class="massive-big text-info") mboard
          span(class="fas fa-wifi ml-5")
        h1(class="extra-big text-info") SSID:
          span(class="ml-5 text-warning") mboard_wifi
  div(class="container-fluid fixed-bottom")
    div(class="row")
      div(class="col")
        h1(class="medium text-white") madsportslab digital scoreboard
