extends layout.pug

block content
  div(class="container-fluid")
    div(class="row")
      div(class="col")
        h1(class="extra-big text-info") mboard
        h1(class="medium") smart scoreboard
        h2(class="text-muted") madsportslab
      div(class="col")
        img(size="1024" src="images/qr.png")
