doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title mboard - the smart scoreboard
    link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/fontawesome/css/fontawesome.min.css" rel="stylesheet")
    link(href="/fontawesome/css/all.min.css" rel="stylesheet")
    link(href="/css/mboard.css" rel="stylesheet")
    script(src="/js/mboard.js")
  body
    block content
