extends layout.pug

block content
  div(class="container-fluid m-5")
    div(class="row")
      div(class="col")
        h1(class="medium text-info") 404 not found
        h1(class="standard") The resource you were looking for does not exist or cannot be found.
        a(class="btn btn-lg btn-outline-danger mt-3" href="/home") Return home
        h2(class="m-3 fixed-bottom") madsportslab
